<nav >
    <ul>
        <li>
            <a href="/">
                Rumah
            </a>
        </li>
        <li>
            <a href="/tentang/14115015">
            Tentang Aku 
            </a>
        </li>
        <li>
            <a href="/galeri/gal">
            Galery
            </a>

    </ul>
</nav>