<html lang="en">
    <head>
        <link href="/assets/css/sugar.css">
    </head>

    <body>
        {%include "navigasi.njk" %}
        <section>
            {{content | safe}}
        </section>
    </body>
</html>