---
layout : tataletak.njk
---
<div class="index">
    <h1>Galery</h1>
    <div class="flex-con">

        <div class="galery">

            <img src="/assets/img/thum/php.png" alt="php">

            <img src="/assets/img/thum/html.png" alt="php">

            <img src="/assets/img/thum/css.png" alt="php">

            <img src="/assets/img/thum/web.png" alt="php">
        </div>
    </div>
</div>