<html lang="en">
    <head>
        <meta name="viewport" content="widht=device-width,initial-scale=1.0">
        <title>WEB LANJUT</title>
        <link rel="stylesheet" href="/assets/css/sugar.css">
    </head>

    <body>
        {%include "navigasi.njk" %}
        <section>
            {{content | safe}}
        </section>
    </body>
</html>