---
layout : tataletak.njk
---
<div class="index">
    <h1>Galery</h1>
    <div class="flex-con">

        <div class="galery">

            <img src="/assets/img/gmb/laptop.png" alt="php">
            <img src="/assets/img/gmb/ipad.png" alt="php">
            <img src="/assets/img/gmb/pixel-2.png" alt="php">
            <img src="/assets/img/gmb/iphone-5-se.png" alt="php">
        </div>
    </div>
</div>