---
title : Home
layout: tataletak.njk
---
<div class="index">
    <h1> Praktikum 2 </h1>
    <p>di bagian praktikum 2 hanya sedikit perbaikan di bagian reposive di berbagai device mungkin masih tidak terlalu responsive documentasi bisa di lihat di <a href="/galeri/gal">Galery</a>
    </p>

    <h3>Halo</h3>
    <p>Jika anda ingin mengetahui tentang saya klik menu <a href="/tentang/14115015">tentang saya</a>
    </br>
Jika ingin melihat gambar silahkan klik menu <a href="/galeri/gal">Galery</a>
</p>
</div>